* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 1s;
}

:root {
  --font-color: rgb(247, 236, 236);
  --main-color: rgb(76, 32, 134);
  --background-color: black;
}

body {
  background-color: var(--background-color);
}

.header {
  width: 100%;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 25px;
  margin-bottom: 10px;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 0px 20px rgb(91, 0, 175),0px 0px 40px rgb(66, 0, 97);
  
}

.links-list {
  list-style: none;
  display: flex;
  gap: 30px;
  font-size: 18px;

}

.links-list a {
  color: var(--font-color);
  display: inline-block;
  text-decoration: none;
}

.links-list a:hover {
  scale: 1.1;
}

.fo9ma-logo-container {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid var(--font-color);
}

.fo9ma-logo-container:hover {
  scale: 1.2;
}

.search-bar {
  border-radius: 8px;
  border: 3px solid var(--font-color);
  outline: none;
  background: none;
  text-align: center;
    padding: 3px 6px;

}

.search-bar:focus {
  padding: 5px 10px;
}

.articles-container {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.article-container{
  width: 300px;
  padding: 10px;
  background-color: grey;
  border-radius: 20px;
  box-shadow: 0 4px 12px var(--font-color);
}

.article-image {
  width: 280px;
  border: 2px solid var(--font-color);
  border-radius: 15px;
}

.article-data-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.add-cart {
  padding: 5px;
  text-align: center;
  border: 2px solid var(--font-color);
  color: var(--font-color);
  background-color: inherit;
}

.add-cart:hover{
  color: red;
  border-color: red;
  scale: 1.1;
}
.article-name, .article-price {
  font-size: 20px;
  color: var(--font-color);
  font-weight: bold;
}
h1{
  color: royalblue;
  text-align: center;
  font-size: 50px;
  text-shadow: 0px 0px 20px rgb(0, 149, 175),0px 0px 40px rgb(25, 0, 165);
  margin: 60px;
}