* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --font-color: rgb(247, 236, 236);
    --main-color: rgb(76, 32, 134);
    --background-color: rgb(241, 241, 247);
    --first-random: black;
    --second-random: white;
}

body {
    background-color: var(--background-color);
    animation: color-random 1s infinite;
}

@keyframes color-randoms {
    0% {
        background-color: var(--first-random);
    }

    100% {
        background-color: var(--second-random);
    }
}

.header {
    width: 100%;
    background-color: var(--main-color);
    border: 3px solid white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.links-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.links-list a {
    display: inline-block;
    color: white;
    text-decoration: none;
    transition: 1s;
}

.links-list a:hover {
    scale: 1.1;
}

.fo9ma-logo-container {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 3px solid var(--font-color);
    transition: 1s;
}

.fo9ma-logo-container:hover {
    scale: 1.1;
}

.search-bar {
    border-radius: 8px;
    border: 3px solid white;
    outline: none;
    background: none;
    text-align: center;
    color: var(--font-color);
    transition: 1s;
}

.search-bar:hover {
    padding: 2px 5px;
}
form {
    width: 35%;
    display: inline-block;
    background-color: blue;
    height: 150px;
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 15px;
}
form:hover {
    scale: 1.1;
    transition: 1.5s;
    box-shadow: 0 0 8px red, 0 0 8px red, 0 0 8px           ;
}
button {
    display: inline-block;
    margin-top: 10px;
    padding: 5px;
    text-align: center;
    border: 2px solid red;
    background-color: burlywood;
    
}
.articale {
    display: inline-block;
    margin-right: 45%;
    margin-top: 10px;
    font-size: 20px;
    color: rgb(151, 15, 15);
    font-weight: bold;
}
.image img {
    border: 2px solid green;
    border-radius: 15px;
    margin-top: 5px;
}
.image {
    text-align: center;
}
